* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

/*リストの点消去*/
li {
  list-style: none;
}

/*ヘッダーと本文にかかっている*/
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/*本文のサイズ*/
.container-top {
  width: 50%
}

/*トップ画面全体。一番外枠*/
.top-wrapper {
  padding: 250px 0 250px 0;
  background-image: url(https://github.com/calm0123/calm.portfolio/blob/master/gahag-0083461077.jpg?raw=true);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 0.7;
  font-size: 16px;
  margin-bottom: 40px;
}


header {
  height: 93px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.calm {
  width: 124px;
  margin-top: 20px;
}

/*ヘッダーcalmにかかってる。要素を横並びに*/
.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.img-calm {
  heiht: 65px;
}

.rightimg {
  height: 65px;
}


.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255,255,255,0.3);
}

/*about横並び*/

.about-main {
  float:  left;
  width: 100%;
  
}

/*個人写真*/
.imgabout {
  height: 100px;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}


/*aboutのデザイン*/
.loose-leaf{
  background: #f8f8f8;
  border-left: 5px dotted rgba(0,0,0,.1);
  box-shadow: 0 0 0 5px #f8f8f8;
  padding: 1em;
  margin: 1em 5px;
}

.loose-leaf p{
  margin: 0;
  padding: 0;
}
