* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}



/*トップページ画像*/

.top-wrapper {
  padding: 180px 0 150px 0;
  background-image: url(https://github.com/calm0123/calm.portfolio/blob/master/gahag-0083461077.jpg?raw=true);
  background-size: cover;
  color: white;
  text-align: center;
}

/*ヘッダー全体・固定*/

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

/*ヘッダー要素*/
.top-header {
  margin: 0 auto;
  width: 1170px;
  height: 65px;
 }


/*calm,about me,portfolio,contactにかかっている*/
.logo {
  padding: 10px 20px;
  width: 124px;
}

/*calm左寄せ*/
.header-left {
  width: 124px;
  margin-top: 20px;
}


/*右側画像外側のリンクの内容*/
.header-right a {
  height: 65px;
  padding: 0 25px;
  color: white;
  display: inline-block;
  float: left;
  transition: all 0.5s;
}

/*右側画像外側のリンクの内容載せた時*/
.header-right a:hover {
  background-color: rgba(255,255,255,0.3);
}

/*トップ画像の文字*/
.container {
  width: 50%;
  padding: 0 15px;
  margin-right: auto;
}

/*ロゴ*/

.top-wrapper h1 {
  opacity: 0.7;
  font-weight: bold;
  font-size: 60px;
  letter-spacing: 5px;
}

/*誰もが～*/
.top-wrapper p {
  opacity: 0.7;
  font-size: 18px;
  margin-bottom: 40px;
}

/*問い合わせ*/
.Button-style {
  font-size: 18px;
  display: inline-block;
  padding: 0.5em 1em 0.3em;
  position: relative;
  color: white;
  border: solid 2px white;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}


/*問い合わせ乗せた時*/
.Button-style:hover {
  opacity: 1;
  background-color: rgba(255,255,255,0.3);
}

/*about移行アイコン*/
.fa-arrow-alt-circle-down {
  margin-right: 5px;
  color: white;
}

.down {
  display: inline-block;
  height: 18px;
}


/*about画像*/

.about-image {
width: 150px;
margin-right:  auto;
 }

.frame {
	display: inline-block;
	position: relative;
  
}
.frame:after {
	position: absolute;
	display: block;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	transform: rotate(3deg); /* 回転させる */
	background: #fff;
	z-index: -1;
}


.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0px 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

.clear {
  clear: left;
}

@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .lesson-wrapper {
    height: 990px;
  }

/*フッター*/　
  footer {
    text-align: center;
  }
}

/*コンタクト*/
.form-kerri .form-control {
    box-shadow: none !important;
    height: 50px;
    border: 2px solid #e0e0e0;
}
@media (prefers-reduced-motion: reduce)
.form-control {
    transition: none;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
input[type="text" i] {
    padding: 1px 2px;
}
user agent stylesheet
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}



.pagetop{
  width:140px;
  heiht:30px;
  position:fixed;
  right:0;
  bottom:0;
}
.pagetop a{
  padding:15px;
  display:block;
  text-decoration:none;
  font-size:12px;
  background:#000;
  color:#fff;
}
